@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap');
.brand .info__title{
    color: #c5a35c;
    width: 283px;
    height: 60px;
    font-family:'BenchNine', sans-serif;
}
.brand .brand__info{
    text-align: center;
}
.brand{
    background-color: #1b191a;
}