.info__title {
  color: var(--color-titles);
  font-family: var(--primary-font-family);
  height: 40px;
  margin: auto;
  font-size: 46px;
  font-weight: bold;
}

.info__text {
  color: var(--color-text-info);
  font-family: var(--secondary-font-family);
  margin: auto;
  margin-top: 10px;
  font-size: 19px;
}

.making-cigarettes__title {
  color: var(--color-titles);
  font-family: var(--primary-font-family);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.making-cigarettes__text {
  color: var(--color-link-text);
  font-family: var(--secondary-font-family);
  font-size: 25px;
}

.brand__making-cigarettes video {
  width: 570px;
  height: 400px;
}

.brand__info {
  text-align: center;
}

.brand__info img {
  width: 250px;
  margin: auto;
  padding: 20px;
  margin-top: 25px;
}

.brand {
  background-color: var(--color-contacts-form);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.brand__making-cigarettes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 30px 50px;
}

.making-cigarettes__info{
  padding: 20px 100px 20px 50px;
  margin-left: 20px;
}

@media (max-width: 1010px) {
  .brand__making-cigarettes {
    flex-direction: column;
  }

  .making-cigarettes__text {
    font-size: 16px;
  }

  .brand__making-cigarettes video {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 520px) {
  .brand__making-cigarettes video {
    width: 250px;
    height: 250px;
  }
  .brand__making-cigarettes{
    padding: 5px;
    margin: auto;
  }
}


.go-up-button{
  position: fixed;
  right: 20px;
  top: 80%;
  cursor: pointer;
  padding: 10px 15px;
  display: none;
}

.go-up-button svg{
  height: 50px;
  width: 50px;
}

.go-up-button svg:hover{
  fill: var(--color-go-up-button-hover);
}

.go-up-button--show{
  display: block;
}