.contacts {
    background: url(../images/background-contacts.png);
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px 0px;
}

.contacts__info {
    margin: 30px;
}

.contacts__title {
    font-size: 34px;
    color: var(--color-titles);
}

.contacts__arrow {
    margin-top: 25px;
}
.contacts__arrow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 1px;
}
.contacts__text {
    color: var(--color-text-info);
    margin-top: 20px;
    font-size: 19px;
    font-family: var(--secondary-font-family);
}

.contacts__list {
    display: flex;
    flex-direction: column;
}

.contacts__adress {
    color: var(--color-titles);
    margin-bottom: 5px;
    font-size: 22px;
    margin-top: 25px;
}

.contacts__adress a {
    color: var(--color-link-text);
    font-family: var(--secondary-font-family);
    font-size: 17px;
    text-decoration: none;
}

.contacts__contact {
    color: var(--color-titles);
    margin-bottom: 5px;
    font-size: 22px;
    margin-top: 25px;
}

.contacts__contact a {
    color: var(--color-link-text);
    font-family: var(--secondary-font-family);
    font-size: 17px;
    text-decoration: none;
}

.contacts__map {
    margin-top: 30px;
}

.contacts__request {
    margin-top: 50px;
}
.contacts__form {
    padding: 39px 55px;
    background: var(--color-contacts-form);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contacts__form input, textarea{
    background-color: var( --color-contacts-form-placeholder);
    box-shadow: none;
    border: 0;
    margin: 12px 0px;
    padding: 14px 20px;
    resize: none;
}