.contacts {
    background: url(../images/background-contacts.png);
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px 0px;
}

.contacts__info {
    margin: 30px;
}

.contacts__title {
    font-size: 34px;
    color: var(--color-titles);
}

.contacts__info-arrow {
    margin-top: 25px;
}

.contacts__info-text {
    color: var(--color-text-info);
    margin-top: 20px;
    font-size: 19px;
    font-family: var(--secondary-font-family);
}

.contacts__info-adress {
    color: var(--color-titles);
    margin-bottom: 5px;
    font-size: 22px;
    margin-top: 25px;
}

.contacts__info-adress a {
    color: var(--color-link-text);
    font-family: var(--secondary-font-family);
    font-size: 17px;
    text-decoration: none;
}

.contacts__info-contact {
    color: var(--color-titles);
    margin-bottom: 5px;
    font-size: 22px;
    margin-top: 25px;
}

.contacts__info-contact a {
    color: var(--color-link-text);
    font-family: var(--secondary-font-family);
    font-size: 17px;
    text-decoration: none;
}

.contacts__info-map {
    margin-top: 30px;
}

.contacts__info-request {
    margin-top: 50px;
    padding: 0 15px;
}
.contacts__info-form {
    padding: 39px 55px;
}

.contacts__info-form textarea {
    min-height: 150px;
    width: 100%;
}