.founders {
    background: url(../images/background-contacts.png);
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (min-width: 750px) {

    .info__founders {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 990px) {

    .info__founders {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.info__founders--socialicon {
    text-align: center;
}
.founders__info {
    position: center;
}

.founders__info--arrow {
    width: 250px;
    margin: auto;
    padding: 20px;
    margin-top: 25px;
}

.founders__info--title,
.info__founder--name {
    text-align: center;
    color: var(--color-titles);
    font-family: var(--primary-font-family);
    padding: 10px;
}

.founders__info--text {
    color: var(--color-text-info);
    font-family: var(--secondary-font-family);
    padding: 10px;
}

.info__founders--text {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.info__founders img {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50%;
    width: 350px;
    height: 600px;
}

.info__founders--socialicon {
    border: solid #d0c8b9;
}

.info__founders--john,
.info__founders--jack,
.info__founders--hugh {
    background-color: #1b191a;
}