.brand-info {
    background-image: url(../images/background-contacts.png);
    background-size: cover;
    background-position: 50% 50%;
    padding: 90px 0px;
    box-sizing: border-box;
}

.brand-info-about-tobacco__title {
    font-family: var(--primary-font-family);
    font-size: 34px;
    color: var(--color-titles);
    letter-spacing: 1.02px;
    text-align: center;
}

.brand-info-about-tobacco__arrow {
    margin-top: 25px;
    box-sizing: border-box;
    width: 347px;
    height: 32px;
    margin: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.brand-info-about-tobacco__text {
    font-family: var(--secondary-font-family);
    font-size: 19px;
    color: var(--color-text-info);
    text-align: center;
    line-height: 25.5px;
    margin-top: 20px;
    box-sizing: border-box;
}

.cigars-production {
    background-clip: border-box;
    background-color: var(--color-for-background-good-cigars-brown);
    background-origin: padding-box;
    padding: 33px 47px;

}

.cigars-production__picture {
    width: 480px;
    height: 300px;
    box-sizing: border-box;
    object-fit: cover;
    overflow-clip-margin: content-box;
    margin: auto;
}

.cigars-production__title {
    font-family: var(--primary-font-family);
    font-size: 22px;
    color: var(--color-titles);
    text-align: left;
}

.cigars-production__text {
    font-family: var(--secondary-font-family);
    font-size: 17px;
    color: var(--color-link-text);
    text-align: left;
    line-height: 25.5px;
    margin-top: 20px;
    box-sizing: border-box;
}

.quality_of_production__title {
    font-family: var(--primary-font-family);
    font-size: 22px;
    color: var(--color-titles);
    text-align: left;
}

.quality_of_production__text {
    font-family: var(--secondary-font-family);
    font-size: 17px;
    color: var(--color-link-text);
    font-stretch: 100%;
    text-align: left;
    line-height: 25.5px;
    margin-top: 20px;
    box-sizing: border-box;
}

.quality_of_production {
    background-clip: border-box;
    background-color: var(--color-for-background-good-cigars-green);
    background-origin: padding-box;
    padding: 33px 47px;
}

.quality_of_production__picture {
    width: 480px;
    height: 300px;
    box-sizing: border-box;
    object-fit: cover;
    overflow-clip-margin: content-box;
    margin: auto;
}
