<style>
.header__logo-container {
  background-image: url("images/header-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header__cigars-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: auto;
}
  .havana__photo {
   background-image: url("images/havana1.png");
  position: absolute;
  top: 15%;
  left: 5%;
  transform: translate(-10%, -90%);
  max-width: 15%;
  height: auto;
}

:root {
  --header-menu-link: white;
  --header-background-color: transparent;
}
  .header__container {
  background-color: var(--header-background-color);  
  color: var(--header-menu-link);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  position: absolute;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  top:0;
  right:0;
  margin: 0;
  padding: 0;
    z-index: 2;

  }
.header__menu-link {
  background-color: var(--header-background-color);  
  color: var(--header-menu-link);
  text-decoration:none;
}
.header__menu-item {
display:inline;  
  padding: 10px;
 margin-top: 50px;
}
:root {
  --button-background-color: transparent;
  --button-text-color: white;
}
.button-rqaq {
  background-color: var(--button-background-color);
 color: var(--button-text-color);
 text-decoration: none;
 text-align: center;
 padding: 10px 20px;
 border: 2px solid var(--border-color);
   border-radius: 0;
   max-width: 60%;
  height:auto;
}

:root {
  --button-background-color: transparent;
  --button-text-color: white;
  --button-hover-background-color:  #C5A35C;
  --border-color: white;
}
.header__about-us {
 background-color: var(--button-background-color);
 color: var(--button-text-color);
 text-decoration: none;
 text-align: center;
 padding: 10px 20px;
 border: 2px solid var(--border-color);
 top: 95%;
 left: 45%;
 border-radius: 0;
 font-size: 16px;
 cursor: pointer;
 transform: translate(-60%, -40%);
 display: inline-block;
 position: absolute;
 max-width: 100%;
 cursor: pointer;
  margin: 10px;
 z-index:2;
}
.header__about-us-info {
 color: var(--button-text-color);
   text-decoration:none;
}

.header__contact-us {
 background-color: var(--button-hover-background-color);
 color: var(--button-text-color);
 padding: 10px 20px;
 border: 0;
 top: 95%;
 left: 55%;
 border-radius: 0;
 font-size: 16px;
 cursor: pointer;
 transform: translate(-50%, -50%);
 position: absolute;
 display: inline-block;
 max-width: 100%;
 text-decoration: none;
 text-align: center;
 cursor: pointer;
  margin:10px;
 z-index:2;
  }
.header__contact-us-button {
 color: var(--button-text-color);
  text-decoration:none;
}
</style>


