<style>
.header {
  background-image: url("../images/header-background.png");
  background-size: cover;
  background-position: relative;
  background-repeat: no-repeat;
}

.header__cigars-logo {
image: url("../images/cigarets-na.png");
  width: 50%;
  height: auto;
}
<div class="header">
  <img src=".../images/header-background.png" alt="title-logo">
  <img class="header__cigars-logo" src=".../images/cigarets-na.png" alt="cigarets">
</div>
</style>
