*{
    margin: 0;
    padding:0;
    box-sizing:border-box;


.header {
  background-image: url("header-background.png");
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
}
.dropdown {
  position: relative;
  display: inline-block;
}
  .image {
     center-image: url(images/cigarets-na.png) float:center;
    }
