.history__big-title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.6px;
	text-align: center;
	color: var(--color-for-background-restriction);
	font-family: var(--primary-font-family);
    scroll-behavior: smooth;
    }


.history {
    background-color: var(--color-for-background-about-havana);
	padding-bottom: 120px;
	}

.history__informations {
	margin-right: 10%;
	margin-left: 10%;

}

.history__of-date {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 15px;	
	font-family: var(--primary-font-family);
    scroll-behavior: smooth;
	margin: 0 auto;
	max-width: 1000px;
	
	
	}

.history__image__four-date {
	max-width: 100%;
    max-height: 100%;
	}

.history__title__four-date {
	text-align: center;
	margin-bottom: 16px;
	font-size: 24px;
	line-height: 32px;
	color: var(--color-for-background-restriction);
	letter-spacing: 0.6px;
	}

.history__about-date__four-date {
	font-size: 20px;
	text-align: center;
	line-height: 28px;
	color: var(--color-for-text-restriction);
	letter-spacing: 0.6px;
	}

.history__title-decoration {
    width: 620px;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
	}

.history__about-their {
	color: var( --color-for-background-restriction);
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-family: var(--primary-font-family);
    scroll-behavior: smooth;
	font-size: 28px;
	letter-spacing: 0.6px;
	}

.history__button__four-date {
	text-decoration: none;
	color: var(--color-for-text-restriction);
	border: 2px solid var(--color-for-text-restriction);
	margin-left: 40%;
	margin-right: 40%;
	padding-bottom: -60px;
	padding: 12px 24px;
    font-weight: 600;
	font-family: var(--primary-font-family);
	
	}

.history__button__four-date:hover {
	background-color: var(--color-for-text-restriction);
	color: var(--color-for-background-about-havana);
	font-family: var(--primary-font-family);
    scroll-behavior: smooth;
	}





