.story_img{
    width: 20%;
}

.body_story{
    background-color: #343232;
}

.button_story{
    text-decoration: none;
    color: white;
    border: solid;
    border-color: white;
    cursor: pointer;

}

.title_history{
    color: darkgoldenrod;
    text-align: center;
}

.about_story{
    color: white;
}