.title-selection {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.6px;
	text-align: center;
	color: var(--color-for-background-restriction);
	font-family: var(--primary-font-family);
    scroll-behavior: smooth;
    }

img {
    max-width: 100%;
    max-height: 100%;
    }
	
#sigara-section {
    background-color: var(--color-for-background-about-havana);
	padding-bottom: 120px;
	}



.services-section__title {
	margin-bottom: 66px;
	text-align: center;
	}

.services-wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;	
	font-family: var(--primary-font-family);
    scroll-behavior: smooth;
	margin-bottom: 50px;
	margin-left: 25px;
	margin-right: 25px;
	}

.services__img {
	margin-right: 24px;
    width: 390px;
	}

.services-title {
	text-align: center;
	margin-bottom: 16px;
	font-size: 24px;
	line-height: 32px;
	color: var(--color-for-background-restriction);
	}

.services-text {
	font-size: 20px;
	text-align: center;
	line-height: 28px;
	color: var(--color-for-text-restriction);
	opacity: 0.7;
	color: var(--color-for-text-restriction);
	}

.title__decoration {
    width: 620px;
	margin-top: -50px;
	margin-left: 680px;
	}

.services-section__about {
	color: var( --color-for-background-restriction);
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-family: var(--primary-font-family);
    scroll-behavior: smooth;
	font-size: 28px;
	}

.services-section__button {
	text-decoration: none;
	color: var(--color-for-text-restriction);
	border: 2px solid var(--color-for-text-restriction);
	margin-left: 700px;
	padding: 12px 24px;
    font-weight: 600;
	font-family: var(--primary-font-family);
	
	}

.services-section__button:hover {
	background-color: var(--color-for-text-restriction);
	color: var(--color-for-background-about-havana);
	font-family: var(--primary-font-family);
    scroll-behavior: smooth;
	}

@media screen and  (max-width: 576px) {
	.services-wrap {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 24px;	
		font-family: var(--primary-font-family);
		scroll-behavior: smooth;
		margin-bottom: 50px;
		}
	
	.services__img {
		margin-left: auto;
		margin-right: auto;
	}
	
	.services-title {
		text-align: center;
	}

	.services-text {
		text-align: center;
	}

	.services-section__button{
		margin-left: 170px;
	}
	
	.services-section__about{
		margin-right: 10px;
		margin-left: 10px;
	}


}

