:root {
    --primary-font-family: "BenchNine", sans-serif;
    --secondary-font-family: "Roboto", sans-serif;

    --color-titles: #c5a35c;
    --color-text-info:#d0c8b9;
    --color-link-text:#ffffff;
    --color-contacts-form:#1b191a;
    --color-contacts-form-placeholder:#242424;
    --color-contact-btn:#c5a35c;
    --color-footer-bg:#1b191a;
    --color-footer-info:#d0c8b9;
}
