<section class="brand">
    <div class="brand__info">
        <p class="info__title">50 YEARS OF QUALITY</p>
            <img src="images/arrow.png" alt="arrow">
        <p class="info__text">We are proud of our traditions and the high quality of tobacco in every
            cigar you buy under the Havana brand.</p>
    </div>
    <div class="brand__making-cigarettes">
        <div сlass="making-cigarettes__video">
            <video src="videos/cigarettes.mp4" controls></video>
        </div>
        <div class="making-cigarettes__info">
            <h4 class="making-cigarettes__title">HOW THE CIGARS ARE MADE</h4>
            <p class="making-cigarettes__text">In this video, we talked about how cigars are created, from
                choosing the best seeds to packing cigars in our branded
                boxes. If you have always been interested in what exactly you
                smoke, watch this video and learn about the high quality of
                our products.</p>
        </div>
    </div>
</section>