<section class="contacts">
    <div class="contacts__info">
        <h2 class="contacts__title">CONTACTS</h2>
        <div class="contacts__arrow">
            <img src="images/arrow.png" alt="arrow">
        </div>
        <p class="contacts__text">
            Contact us to talk about the cooperation options or discuss any question you may have.
        </p>
        <div class="contacts__list">
            <div class="contacts__adress">
                <h3 class="contacts__adress-title">Address</h3> 
                <p><a href="#" class="contacts__street">401 76th St, Brooklyn,</a></p>
                <p><a href="#" class="contacts__post">NY 11209, USA</a></p>
            </div>
            <div class="contacts__contact">
                <h3 class="contacts__contact-title">Contacts</h3>
                <p><a href="#" class="contacts__tel">+1 (234) 567 89 00</a></p>
                <p><a href="#" class="contacts__email">havana@email.com</a></p>
            </div>
            <div class="contacts__map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d530.486101413321!2d-74.02543346958532!3d40.63047520233604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c245599d1a81db%3A0xed3725a727da5c83!2zNDAxIDc2dGggU3QsIEJyb29rbHluLCBOWSAxMTIwOSwg0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!5e0!3m2!1suk!2sua!4v1683570953185!5m2!1suk!2sua"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="contacts__request">
            <form action="" method="post" class="contacts__form">
                <input type="text" name="full-name" id="full-name" placeholder="Enter your full name" required>
                <input type="tel" name="tel-number" id="tel-number" placeholder="Enter your phone number" required>
                <input type="email" name="email" id="email" placeholder="Enter your e-mail" required>
                <textarea name="message" id="message" cols="10" rows="5" placeholder="Type your message"></textarea>
                <button type="submit" class="contacts__btn">Request a quote</button>
            </form>
        </div>
    </div>
</section>