<section class="contacts">
    <div class="contacts__info">
        <h2 class="contacts__title">CONTACTS</h2>
        <img width="100" class="contacts__info-arrow" src="images/arrow.png" alt="arrow">
        <p class="contacts__info-text">Contact us to talk about the cooperation options or discuss any question you may have.</p>
        <div class="contacts__info-list">
            <div class="contacts__info-adress">
                Address 
                <a href="401 76th St, Brooklyn" class="contacts__info-adress-link">401 76th St, Brooklyn,</a>
                <a href="NY 11209, USA" class="contacts__info-adress-link-post">NY 11209, USA</a>
            </div>
            <div class="contacts__info-contact">
                Contacts 
                <a href="+1 (234) 567 89 00" class="contacts__info-contact-tel">+1 (234) 567 89 00</a>
                <a href="havana@email.com" class="contacts__info-contact-email">havana@email.com</a>
            </div>
            <div class="contacts__info-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d530.486101413321!2d-74.02543346958532!3d40.63047520233604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c245599d1a81db%3A0xed3725a727da5c83!2zNDAxIDc2dGggU3QsIEJyb29rbHluLCBOWSAxMTIwOSwg0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!5e0!3m2!1suk!2sua!4v1683570953185!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>