<section class="cooperation-options">
    <h2 class="cooperation-options-title">
        COOPERATION OPTIONS
    </h2>
    <img src="images/arrow.png" alt="arrow">
    <p class="cooperation-options-text">
        We are ready to cooperate with the business of any scale, in any state of the USA.
    </p>
    <div class="cooperation-options-description">
        <h2 class="cooperation-options-description-title">
            CONSULTING
        </h2>
        <p class="cooperation-options-description-text">
            We know everything about the tobacco business. If you plan to sell cigars, tobacco accessories 
        </p>
        <p class="cooperation-options-description-text">
            or launch a tobacco company of any other kind, we are ready to advise you.
        </p>
        <div class="cooperation-options-description-buttonbox">
            <a href="#" class="cooperation-options-description-button">REQUEST A QUOTE</a>
        </div>
    </div>
    <div class="cooperation-options-description">
        <h2 class="cooperation-options-description-title">
            TOBACCO SUPPLY
        </h2>
        <p class="cooperation-options-description-text">
            We supply high-quality Cuban tobacco to other companies.
        </p>
        <p class="cooperation-options-description-text">
            If you produce cigars or cigarettes, we can become your supplier.
        </p>
        <div class="cooperation-options-description-buttonbox">
            <a href="#" class="cooperation-options-description-button">REQUEST A QUOTE</a>
        </div>
    </div>
</section>