<footer class="footer">
    <nav class="footer__nav">
        <div class="footer__logo-box">
            <a href="#" class="footer__logo">
                <img src="images/havana.png" alt="logo">
            </a>
        </div>
        <ul class="footer__menu">
            <li class="footer__item">
                <a href="#" class="footer__menu-link">ABOUT US</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__menu-link">SERVICES</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__menu-link">OUR BRANDS</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__menu-link">TESTIMONIALS</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__menu-link">CONTACT US</a>
            </li>
        </ul>
    </nav>
    <div class="divider-component"></div> <!--else divider__footer-->
    <div class="footer__info">
        <p class="footer__created">© Created by </p>
        <p class="footer__copyright">All rights Reserved </p>
    </div>
</footer>