<section class="gallery">
    <h2 class="gallery__tittle">OUR GALLERY</h2>
    <div class="gallery__arrow">
        <img src="images/arrow.png" alt="gallery__arrow">
    </div>
    <p class="gallery__text">From the first seed planted to packed cigars on the shelves of our stores, we guarantee you the high quality of Havana tobacco products.</p>
    <div class="carousel">
        <div class="carousel__item">
            <div class="carousel__items">
                <img src="images/tobbaco-leavse.jpeg" alt="obbaco-leavse">
            </div>
            <div class="carousel__items">
                <img src="images/cigars.png" alt="cigars">
            </div>
            <div class="carousel__items">
                <img src="images/smooke.jpeg" alt="smooke">
            </div>
            <div class="carousel__items">
                <img src="images/smoldering-cigar.jpeg" alt="smoldering-cigar">
            </div>
            <div class="carousel__items">
                <img src="images/smooking-man.jpeg" alt="smooking-man">
            </div>
        </div>
        <button class="carousel__button carousel__button--next"><img src="images/carousel-right.svg" alt="carousel-right"></button>
        <button class="carousel__button carousel__button--prev"><img src="images/carousel-left.svg" alt="carousel-left"></button>
        <div class="carousel__dots">

        </div>
    </div>
</section>