<section class="section">
    <div class="brand-info">
        <h2 class="brand-info__title">GOOD CIGARS START WITH GOOD TOBACCO</h2>
        <img class="brand-info__arrow" src="images//arrow.png" alt="arrow">
        <p class="brand-info__text">We have gained an excellent reputation in the tobacco market. Why? Because we are
            responsible for what we do.
        </p>
        <h4 class="brand-info__title">FROM SEED TO CIGAR</h4>
        <p class="brand-info__text">Our modern and well-equipped cigar factories in Cuba do not rely solely on
            technologies. On the contrary, the
            making of cigars still requires human skills. Our employees are engaged in a craft and are supported by
            modern technologies. </p>
    </div>
    <div class="info-about-cigars-production">
        <img class="info-about-cigars-production__picture" width="503" height="327" src="images/photo of cigars"
            alt="cigars">
        <h4 class="info-about-cigars-production">QUALITY THAT CAN'T BE OVERESTIMATED</h4>
        <p class="info-about-cigars-production__text">Before a wrapper is wound around a cigar, it passes through at
            least three hundred pairs of hands. You can
            trace the journey of your cigar from the tobacco leaf or even seed to the boxed cigar. We use the most
            modern approaches and only natural ingredients. </p>
    </div>
</section>