<header class="header">
  <nav class="header__nav">
    <div class="header__logo-container">
        <img src="images/havana.png" alt="havana">
        <img src="images/header-background.png" alt="title-logo">
        <img src="images/cigarets-na.png" alt="cigarets">
    </div>
      <ul class="header__menu">
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">ABOUT US</a>
        </li>
           <li class="header__menu-item">
            <a href="#" class="header__menu-link">SERVICES</a>
        </li>
           <li class="header__menu-item">
            <a href="#" class="header__menu-link">OUR BRANDS</a>
        </li>
           <li class="header__menu-item">
            <a href="#" class="header__menu-link">TESTIMONIALS</a>
        </li>
       <li class="header__menu-item">
            <a href="#" class="header__menu-link">CONTACT US</a>
        </li>
    </ul>
   <div>
     <button>
       <a href="#">REQEST A QUOTE></a>
         </button>
       </div>
    
   <button type="button">ABOUT US</button>
   <button type="button">CONTACT US</button>
    </nav>
    </header>
