<header class="header">
  <nav class="header__nav">
    <div class="header__div-all">
      <div class="header__havana1"></div>
    <div class="header__logo-container">
        <img src="images/header-background.png" loading: lazy alt="title-logo">
        <img class="header__cigars-logo" src="images/cigarets-na.png" loading: lazy alt="cigarets">
</div>
      <ul class="header__menu">
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">ABOUT US</a>
        </li>
           <li class="header__menu-item">
            <a href="#" class="header__menu-link">SERVICES</a>
        </li>
           <li class="header__menu-item">
            <a href="#" class="header__menu-link">OUR BRANDS</a>
        </li>
           <li class="header__menu-item">
            <a href="#" class="header__menu-link">TESTIMONIALS</a>
        </li>
       <li class="header__menu-item">
            <a href="#" class="header__menu-link">CONTACT US</a>
        </li>
    </ul>
   <div>
       <a href="#" class= "button-rqaq">REQEST A QUOTE></a>
    </div>
        </div>
  
     <div class="header__buttons-about-info">
       <div class="header__about-us">
         <a href="#" class="header__about-us-info">ABOUT US</a>
       </div>
       <div class="header__contact-us">
           <a href="#" class="header__contact-us-button">CONTACT US</a>
      </div>
    </div>
    </nav>
    </header>
