<header class="header">
  <nav class="header__nav">
    <div class="header__logo-container">
        <img src="images/header-background.png" alt="title-logo">
        <img class="header__cigars-logo" src="images/cigarets-na.png" alt="cigarets">
    <img class="header__logo" src="images/havana1.png" alt="havana" >
    
</div>
      <ul class="header__menu">
          <li class="header__menu-item">
            <a href="#" class="header__menu-link">ABOUT US</a>
        </li>
           <li class="header__menu-item">
            <a href="#" class="header__menu-link">SERVICES</a>
        </li>
           <li class="header__menu-item">
            <a href="#" class="header__menu-link">OUR BRANDS</a>
        </li>
           <li class="header__menu-item">
            <a href="#" class="header__menu-link">TESTIMONIALS</a>
        </li>
       <li class="header__menu-item">
            <a href="#" class="header__menu-link">CONTACT US</a>
        </li>
    </ul>
   <div>
       <a href="#" class= "button button-box">REQEST A QUOTE></a>
    </div>
  
     <div class="buttons">
                <a href="#" class="buttons__about-us">ABOUT US</a>
                <a href="#" class="buttons__contact-us">CONTACT US</a>
            </div>
    </nav>
    </header>
