<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body_story">
    <h2>HISTORY</h2>
    <p>For over 50 years, we have been engaged in tobacco growing and the production of cigars and other tobacco products.</p>
    <section class="section-story">
        <div class="history_1">
            <img src="images/history_1.jpg" alt="no_1" class="story_img">
            <h4>SEPT 19, 1970</h4>
            <p>Foundation of our first tobacco factory in Havana by three brothers: James, John and Hugh Bomstrom.</p>
        </div>
        
        <div class="history_2">
            <img src="images/history_2.jpg" alt="no_1" class="story_img">
            <h4>JUN 2, 1990</h4>
            <p>Rise to the market leader in the USA, the opening of the first official store and 3 more factories.</p>
        </div>

        <div class="history_3">
            <img src="images/history_3.jpg" alt="no_1" class="story_img">
            <h4>NOV 17, 2000</h4>
            <p>Signing a contract with Trader Joe’s. Since then, we've become a regular supplier to all its stores.</p>
        </div>

        <div class="history_4">
            <img src="images/history_4.jpg" alt="no_1" class="story_img">
            <h4>MAY 5, 2015</h4>
            <p>Establishment of the fifth tobacco factory in Cuba. Market launch of 3 new cigar brands. </p>
        </div>
    </section>
    <a href="#">MORE ABOUT US</a>
</body>
</html>