    <section id="sigara-section">
        <div class="container_sigara">
            <h2 class="title-selection services-section__title">HISTORY</h2>
            <img class="title__decoration" src="images/decorationitem.png" alt="decoration">
            <p class="services-section__about">For over 50 years, we have been engaged in tobacco growing and the production of cigars and other tobacco products.</p>
            <div class="services-wrap">
                <div class="services">
                    <img class="services__img" src="images/history_1.jpg" alt="sigara">
                    <h3 class="services-title">SEPT 19, 1970</h3>
                    <p class="services-text">Foundation of our first tobacco factory in Havana by three brothers: James, John and Hugh Bomstrom.</p>
                </div>
                <div class="services">
                    <img class="services__img" src="images/history_2.jpg" alt="sigara">
                    <h3 class="services-title">JUN 2, 1990</h3>
                    <p class="services-text">Rise to the market leader in the USA, the opening of the first official store and 3 more factories.</p>
                </div>
                <div class="services">
                    <img class="services__img" src="images/history_3.jpg" alt="sigara">
                    <h3 class="services-title">NOV 17, 2000</h3>
                    <p class="services-text">Signing a contract with Trader Joe’s. Since then, we've become a regular supplier to all its stores.</p>
                </div>
                <div class="services">
                    <img class="services__img" src="images/history_4.jpg" alt="sigara">
                    <h3 class="services-title">MAY 5, 2015</h3>
                    <p class="services-text">Establishment of the fifth tobacco factory in Cuba. Market launch of 3 new cigar brands.</p>
                </div>
            </div>

        </div>
                    <a href="#" class="services-section__button">MORE ABOUT US</a>
    </section>
    
   
