    <section class="history ">
        <div class="history__information history__container">
            <h2 class="history__big-title">HISTORY</h2>
            <img class="history__title-decoration" src="images/arrow.png" alt="decoration">
            <p class="history__about-their">For over 50 years, we have been engaged in tobacco growing and the production of cigars and other tobacco products.</p>
            <div class="history__of-date">
                <div class="history__of-date__four-date">
                    <img class="history__image__four-date" src="images/history_1.jpg" alt="sigara">
                    <h3 class="history__title__four-date">SEPT 19, 1970</h3>
                    <p class="history__about-date__four-date">Foundation of our first tobacco factory in Havana by three brothers: James, John and Hugh Bomstrom.</p>
                </div>
                <div class="history__of-date__four-date">
                    <img class="history__image__four-date" src="images/history_2.jpg" alt="sigara">
                    <h3 class="history__title__four-date">JUN 2, 1990</h3>
                    <p class="history__about-date__four-date">Rise to the market leader in the USA, the opening of the first official store and 3 more factories.</p>
                </div>
                <div class="history__of-date__four-date">
                    <img class="history__image__four-date" src="images/history_3.jpg" alt="sigara">
                    <h3 class="history__title__four-date">NOV 17, 2000</h3>
                    <p class="history__about-date__four-date">Signing a contract with Trader Joe’s. Since then, we've become a regular supplier to all its stores.</p>
                </div>
                <div class="history__of-date__four-date">
                    <img class="history__image__four-date" src="images/history_4.jpg" alt="sigara">
                    <h3 class="history__title__four-date">MAY 5, 2015</h3>
                    <p class="history__about-date__four-date">Establishment of the fifth tobacco factory in Cuba. Market launch of 3 new cigar brands.</p>
                </div>
            </div>
                    <a href="#" class="history__button__four-date">MORE ABOUT US</a>
        </div>
                   
    </section>
    
   
