<section class="testimonials">
    <div class="testimonials__description">
        <span class="description__title">TESTIMONIALS</span>
        <img class="description__arrow" src="images/arrow.png" alt="arrow image">
        <p class="description__text-content"> Some feedback on Havana cigars from our partners.
        </p>
    </div>
    <div class="testimonials__carousel">
        <div class="carousel__feedback-list">
            <article class="carousel__feedback-card">
                <span class="feedback-card__name">Linda Peterson</span>
                <span class="feedback-card__position">Procurement Manager at American Tobacco</span>
                <span class="feedback-card__text">We have been working with this company for 30 years. Havana supplies
                    us with high-quality pressed tobacco, which we then use to make our cigarettes. We are fully
                    satisfied with the cooperation.</span>
                <span class="feedback-card__date">October 28, 2017</span>
            </article>
            <article class="carousel__feedback-card">
                <span class="feedback-card__name">David Johnson</span>
                <span class="feedback-card__position">Director at Cigars Shop</span>
                <span class="feedback-card__text">5 years ago we ordered several packages of Havana cigars. They were
                    sold out in our store in just a few hours. Since then, we sell more than 1,000 Havana cigars each
                    week in our small Oregon store.</span>
                <span class="feedback-card__date">June 12, 2018</span>
            </article>
            <article class="carousel__feedback-card">
                <span class="feedback-card__name">Kyle Remden</span>
                <span class="feedback-card__position">Director at Remden Cigar Shop</span>
                <span class="feedback-card__text">I have been selling cigars and cigarillos for 10 years now. The Havana
                    products are highly appreciated by my customers and make up about 80% of the assortment in my store.
                    I am satisfied with the cooperation.</span>
                <span class="feedback-card__date">January 04, 2019</span>
            </article>
            <article class="carousel__feedback-card">
                <span class="feedback-card__name">Lucas Forrester</span>
                <span class="feedback-card__position">Procurement Manager at Trader Joe's</span>
                <span class="feedback-card__text">We have been cooperating for 20 years, and are fully satisfied with
                    the cooperation. Our customers often choose Havana products. In the future, we will expand the range
                    of Havana cigars presented in our stores.</span>
                <span class="feedback-card__date">March 21, 2020</span>
            </article>
        </div>
        <button class="testimonials__carousel-button button--right"><img class="testimonials-image"
                src="images/carousel-right.svg" alt="carousel-right"></button>
        <button class="testimonials__carousel-button button--left"><img class="testimonials-image"
                src="images/carousel-left.svg" alt="carousel-left"></button>
    </div>
    <!--<div class="cards__carousel">
        <button class="cards__carousel-button--left"></button>
        <div class="cards__carousel-slide">
        </div>
        <button class="cards__carousel-button--right"></button>
    </div>-->
</section>