<section class="testimonials">
    <div class="testimonials__description">
        <span class="description__title">Testimonials</span>
        <img class="description__arrow" src="images/arrow.png" alt="arrow image">
        <p class="description__text-content"> Some feedback on Havana cigars from our partners.
        </p>
    </div>
    <div class="testimonials__partners-feedback">
    <div class="partners-feedback_card-1">
        <span class="card-1_partner-name"></span>
        <span class="card-1_partner-position"></span>
        <span class="card-1_feedback-text"></span>
        <span class="card-1_feedback-date"></span>
    </div> 
    </div>